<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectAdo.Properties.Settings.AdoProjectConnectionString"
            connectionString="Data Source=DESKTOP-LA0JKO2\SQLEXPRESS;Initial Catalog=AdoProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>